In [0]:
%sql
CREATE TABLE EMPLOYEE(
       EMPID INT,
       FIRST_NAME VARCHAR(50),
	     LAST_NAME VARCHAR(50),
       DEPARTMENT VARCHAR(50),
       SALARY DECIMAL(10,2),
       JOINING_DATE DATE,
       CITY VARCHAR(50),
	     EMAIL VARCHAR(100)
       );

In [0]:
%sql
CREATE DATABASE IF NOT EXISTS DEMO_DB;
USE DEMO_DB;

In [0]:
%sql
CREATE TABLE IF NOT EXISTS Employees(
       EMPID INT,
       FIRST_NAME VARCHAR(50),
	     LAST_NAME VARCHAR(50),
       DEPARTMENT VARCHAR(50),
       SALARY DECIMAL(10,2),
       JOINING_DATE DATE,
       CITY VARCHAR(50),
	     EMAIL VARCHAR(100)
       );

In [0]:
%sql
INSERT INTO EMPLOYEES VALUES(1,'Ram', 'Sita', 'HR', 50000.00, '2014-02-20', 'Hyderabad', 'ram.sita@gmail.com');

In [0]:
%sql
INSERT INTO EMPLOYEES VALUES (2, 'Arjun', 'Reddy', 'IT', 62000.00, '2015-03-15', 'Bangalore', 'arjun.reddy2@gmail.com');
INSERT INTO EMPLOYEES VALUES (3, 'Sneha', 'Kumar', 'Finance', 58000.00, '2016-07-10', 'Chennai', 'sneha.kumar3@gmail.com');
INSERT INTO EMPLOYEES VALUES (4, 'Vikram', 'Sharma', 'Sales', 72000.00, '2017-01-25', 'Pune', 'vikram.sharma4@gmail.com');
INSERT INTO EMPLOYEES VALUES (5, 'Anita', 'Verma', 'Marketing', 54000.00, '2018-05-19', 'Delhi', 'anita.verma5@gmail.com');
INSERT INTO EMPLOYEES VALUES (6, 'Rohit', 'Gupta', 'Operations', 60000.00, '2019-09-12', 'Mumbai', 'rohit.gupta6@gmail.com');
INSERT INTO EMPLOYEES VALUES (7, 'Priya', 'Naidu', 'HR', 51000.00, '2020-11-05', 'Hyderabad', 'priya.naidu7@gmail.com');
INSERT INTO EMPLOYEES VALUES (8, 'Karan', 'Kapoor', 'IT', 65000.00, '2014-06-22', 'Bangalore', 'karan.kapoor8@gmail.com');
INSERT INTO EMPLOYEES VALUES (9, 'Meena', 'Patel', 'Finance', 59000.00, '2015-04-30', 'Ahmedabad', 'meena.patel9@gmail.com');
INSERT INTO EMPLOYEES VALUES (10, 'Suresh', 'Yadav', 'Sales', 70500.00, '2016-10-18', 'Pune', 'suresh.yadav10@gmail.com');
INSERT INTO EMPLOYEES VALUES (11, 'Lakshmi', 'Menon', 'Marketing', 55500.00, '2017-08-07', 'Kochi', 'lakshmi.menon11@gmail.com');
INSERT INTO EMPLOYEES VALUES (12, 'Rahul', 'Singh', 'Operations', 61000.00, '2018-12-25', 'Delhi', 'rahul.singh12@gmail.com');
INSERT INTO EMPLOYEES VALUES (13, 'Neha', 'Mishra', 'HR', 52000.00, '2019-03-14', 'Hyderabad', 'neha.mishra13@gmail.com');
INSERT INTO EMPLOYEES VALUES (14, 'Amit', 'Joshi', 'IT', 67500.00, '2020-07-28', 'Mumbai', 'amit.joshi14@gmail.com');
INSERT INTO EMPLOYEES VALUES (15, 'Divya', 'Nair', 'Finance', 58500.00, '2014-09-11', 'Chennai', 'divya.nair15@gmail.com');
INSERT INTO EMPLOYEES VALUES (16, 'Manoj', 'Desai', 'Sales', 71500.00, '2015-02-20', 'Pune', 'manoj.desai16@gmail.com');
INSERT INTO EMPLOYEES VALUES (17, 'Shalini', 'Agarwal', 'Marketing', 54500.00, '2016-06-05', 'Delhi', 'shalini.agarwal17@gmail.com');
INSERT INTO EMPLOYEES VALUES (18, 'Nikhil', 'Bhat', 'Operations', 60500.00, '2017-11-12', 'Bangalore', 'nikhil.bhat18@gmail.com');
INSERT INTO EMPLOYEES VALUES (19, 'Kavya', 'Rao', 'HR', 53000.00, '2018-01-19', 'Hyderabad', 'kavya.rao19@gmail.com');
INSERT INTO EMPLOYEES VALUES (20, 'Rajesh', 'Kulkarni', 'IT', 66000.00, '2019-05-09', 'Mumbai', 'rajesh.kulkarni20@gmail.com');
INSERT INTO EMPLOYEES VALUES (21, 'Pooja', 'Iyer', 'Finance', 57000.00, '2020-08-23', 'Chennai', 'pooja.iyer21@gmail.com');
INSERT INTO EMPLOYEES VALUES (22, 'Sanjay', 'Dixit', 'Sales', 73000.00, '2014-03-14', 'Pune', 'sanjay.dixit22@gmail.com');
INSERT INTO EMPLOYEES VALUES (23, 'Ritika', 'Mehra', 'Marketing', 56000.00, '2015-10-02', 'Delhi', 'ritika.mehra23@gmail.com');
INSERT INTO EMPLOYEES VALUES (24, 'Varun', 'Chopra', 'Operations', 62000.00, '2016-12-17', 'Mumbai', 'varun.chopra24@gmail.com');
INSERT INTO EMPLOYEES VALUES (25, 'Sonia', 'Pillai', 'HR', 52500.00, '2017-04-11', 'Hyderabad', 'sonia.pillai25@gmail.com');
INSERT INTO EMPLOYEES VALUES (26, 'Deepak', 'Shukla', 'IT', 64000.00, '2018-09-05', 'Bangalore', 'deepak.shukla26@gmail.com');
INSERT INTO EMPLOYEES VALUES (27, 'Anjali', 'Das', 'Finance', 57500.00, '2019-01-20', 'Kolkata', 'anjali.das27@gmail.com');
INSERT INTO EMPLOYEES VALUES (28, 'Harish', 'Tripathi', 'Sales', 71000.00, '2020-06-15', 'Pune', 'harish.tripathi28@gmail.com');
INSERT INTO EMPLOYEES VALUES (29, 'Swati', 'Roy', 'Marketing', 55000.00, '2014-11-19', 'Delhi', 'swati.roy29@gmail.com');
INSERT INTO EMPLOYEES VALUES (30, 'Ramesh', 'Nanda', 'Operations', 61500.00, '2015-07-22', 'Chennai', 'ramesh.nanda30@gmail.com');
INSERT INTO EMPLOYEES VALUES (31, 'Jyoti', 'Malhotra', 'HR', 53500.00, '2016-05-13', 'Hyderabad', 'jyoti.malhotra31@gmail.com');
INSERT INTO EMPLOYEES VALUES (32, 'Ashok', 'Verghese', 'IT', 65500.00, '2017-08-28', 'Bangalore', 'ashok.verghese32@gmail.com');
INSERT INTO EMPLOYEES VALUES (33, 'Tanvi', 'Sen', 'Finance', 56500.00, '2018-10-09', 'Kolkata', 'tanvi.sen33@gmail.com');
INSERT INTO EMPLOYEES VALUES (34, 'Mohan', 'Sethi', 'Sales', 73500.00, '2019-02-17', 'Pune', 'mohan.sethi34@gmail.com');
INSERT INTO EMPLOYEES VALUES (35, 'Alka', 'Krishnan', 'Marketing', 57500.00, '2020-12-20', 'Delhi', 'alka.krishnan35@gmail.com');
INSERT INTO EMPLOYEES VALUES (36, 'Ajay', 'Naik', 'Operations', 62500.00, '2014-09-10', 'Mumbai', 'ajay.naik36@gmail.com');
INSERT INTO EMPLOYEES VALUES (37, 'Gayathri', 'Chauhan', 'HR', 54500.00, '2015-04-14', 'Hyderabad', 'gayathri.chauhan37@gmail.com');
INSERT INTO EMPLOYEES VALUES (38, 'Kunal', 'Pandey', 'IT', 67000.00, '2016-07-25', 'Bangalore', 'kunal.pandey38@gmail.com');
INSERT INTO EMPLOYEES VALUES (39, 'Pallavi', 'George', 'Finance', 59000.00, '2017-11-05', 'Kochi', 'pallavi.george39@gmail.com');
INSERT INTO EMPLOYEES VALUES (40, 'Ravi', 'Chandra', 'Sales', 74000.00, '2018-02-28', 'Pune', 'ravi.chandra40@gmail.com');
INSERT INTO EMPLOYEES VALUES (41, 'Simran', 'Mukherjee', 'Marketing', 56500.00, '2019-05-30', 'Delhi', 'simran.mukherjee41@gmail.com');
INSERT INTO EMPLOYEES VALUES (42, 'Arvind', 'Banerjee', 'Operations', 63500.00, '2020-03-22', 'Kolkata', 'arvind.banerjee42@gmail.com');
INSERT INTO EMPLOYEES VALUES (43, 'Preeti', 'Nanda', 'HR', 55500.00, '2014-12-16', 'Hyderabad', 'preeti.nanda43@gmail.com');
INSERT INTO EMPLOYEES VALUES (44, 'Siddharth', 'Kulshreshtha', 'IT', 68500.00, '2015-10-20', 'Bangalore', 'siddharth.kulshreshtha44@gmail.com');
INSERT INTO EMPLOYEES VALUES (45, 'Monica', 'Raj', 'Finance', 60000.00, '2016-01-15', 'Chennai', 'monica.raj45@gmail.com');
INSERT INTO EMPLOYEES VALUES (46, 'Aditya', 'Singhania', 'Sales', 75000.00, '2017-06-18', 'Pune', 'aditya.singhania46@gmail.com');
INSERT INTO EMPLOYEES VALUES (47, 'Roshni', 'Prasad', 'Marketing', 58000.00, '2018-08-27', 'Delhi', 'roshni.prasad47@gmail.com');
INSERT INTO EMPLOYEES VALUES (48, 'Chirag', 'Rastogi', 'Operations', 64500.00, '2019-11-21', 'Mumbai', 'chirag.rastogi48@gmail.com');
INSERT INTO EMPLOYEES VALUES (49, 'Vidya', 'Jain', 'HR', 56500.00, '2020-05-14', 'Hyderabad', 'vidya.jain49@gmail.com');
INSERT INTO EMPLOYEES VALUES (50, 'Tejas', 'Gowda', 'IT', 69500.00, '2014-07-29', 'Bangalore', 'tejas.gowda50@gmail.com');

In [0]:
%sql
Select * from employees;

In [0]:
%sql
CREATE TABLE SALES(
  ID INT,
  CUSTOMER VARCHAR(50),
  PRODUCT VARCHAR(50),
  AMOUNT DECIMAL(10,2),
  SALE_DATE DATE,
  REGION VARCHAR(50)
);

In [0]:
%sql
Drop table sales;

In [0]:
%sql
Show databases;

In [0]:
%sql
use demo_db;

In [0]:
%sql
show tables;

In [0]:
%sql
use default;
show tables;

In [0]:
%sql
drop table employee;

In [0]:
%sql
use demo_db;

In [0]:
%sql
CREATE TABLE SALES(
  ID INT,
  CUSTOMER VARCHAR(50),
  PRODUCT VARCHAR(50),
  AMOUNT BIGINT,
  SALE_DATE DATE,
  REGION VARCHAR(50)
);

In [0]:
%sql
INSERT INTO sales VALUES(105, 'COO6','RedShoes',2999,'2023-10-06','North');
    
INSERT INTO sales VALUES(106, 'COO3','BlackShirt',1999, '2023-10-02', 'West');
INSERT INTO sales VALUES(107, 'COO5','T-Shirt',3999, '2023-10-04', 'East');
INSERT INTO sales VALUES(108, 'COO8','Watch',1999, '2023-10-03', 'South');

In [0]:
%sql
select * from sales;

In [0]:
%sql
---total sales per region----
select sale_date, sum(amount) as total_sales
from sales group by sale_date;

In [0]:
%sql
select * from sales where sale_date >= '2023-10-02';

In [0]:
%sql
select * from sales where amount >= 2000;

In [0]:
%sql
select * from sales order by amount desc limit 1;