In [0]:
#create dataframe in realistic way
data={
        ("Alice","IT",50000),
        ("Anurag","Data Engineer",100000),
        ("Bob","HR",40000),
        ("Stuti","Recruiter",150000),
        ("Ayushi","HR",30000),
        ("Ankur","IT",510000),
        ("Shruti","Finance",650000),
        ("Shalini","Finance",850000),
}


column=["Name","Department","Salary"]

df=spark.createDataFrame(data,column)
display(df)

In [0]:
display(df.select("Name"))

In [0]:
#transformation
display(df.select("Name","Salary"))

In [0]:
#apply filter on salary
display(df.filter(df.Salary>50000))

In [0]:
df.groupBy("Department").avg("Salary").show()

In [0]:
#calculate min, max and avg
from pyspark.sql.functions import min, avg, max

avg_salary = df.select(avg("Salary").alias("avg_salary")).collect()[0]["avg_salary"]
print(f"average salary = {avg_salary}")

In [0]:
#calculate avg, min, max salary of each department

display(df.groupBy("Department").agg(
    avg("Salary").alias("avg_salary"),
    min("Salary").alias("min_salary"),
    max("Salary").alias("max_salary")
))

In [0]:
#Join two DataFrames
dept_data = [("IT", 101), ("HR", 102), ("Finance", 103)]
dept_columns = ["Department", "Dept_Code"]

df_dept = spark.createDataFrame(dept_data, dept_columns)

#join
joined_df = df.join(df_dept, on="Department", how="inner")
joined_df.show()
display(joined_df)

In [0]:
#Transformation V/S Action 


#Transformation
filtered = df.filter(df["Salary"] > 50000)

#Action
filtered.show()

Student Practice Assignment
ðŸ“‚ Build a DataFrame with the following schema: Name, Department, Salary, Location

In [0]:
# Sample data
data = [
    ("Anurag", "IT", 70000, "Bangalore"),
    ("Priya", "HR", 55000, "Mumbai"),
    ("Ravi", "Finance", 65000, "Delhi"),
    ("Sneha", "IT", 60000, "Hyderabad")
]

columns = ["Name", "Department", "Salary", "Location"]

df_task = spark.createDataFrame(data, columns)

# Task 1: Filter IT employees with salary > 60K
display(df_task.filter((df_task.Department == "IT") & (df_task.Salary > 60000)))

# Task 2: Add column "Hike_Amount" as 15% of salary
df_task=df_task.withColumn("Hike_Amount", df_task.Salary * 0.15)
display(df_task)

# Task 3: Group by Department and show average salary
display(df.groupBy("Department").avg("Salary"))